/* CSS BY Shiela Peters */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
    --midnight_blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold:#E5C185;
    --linen: linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}
/* GLOBAL STYLES (mobile first/small) */
html{
	font-family: 'Playfair Display';
}
header{
	background-color: var(--midnight_blue);
}

header img{
	display: block;
	margin: 0 auto;
}

h1{
	color: var(--soft-white);
	font-size: 5em;
	font-weight: bold;
	text-align: center;
}

header p{
	color: var(--soft-white);
	font-style: italic;
	text-align: center;
	font-size: 1.5em;
	margin: 1em;
}

nav{
	background-color: var(--champagne-gold);
}

header ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

header li{
	color: var(--midnight_blue);
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding: 0.5em;
}
main{
	margin: 1em;
	border-bottom: solid var(--champagne-gold) 3px;
}

h2{
	color: var(--dark-charcoal);
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

p{
	line-height: 1.25;
}

#welcome{
	border-bottom: solid var(--champagne-gold) 3px;
	padding-bottom: 1em;
}


#offerings{
	display: grid;
	gap: 1em;
	color: var(--soft-white);
	margin-bottom: 1em;
}

#offerings div{
	background-color:var(--olive-green);
	padding: 1em;
	border-radius: 0.5em;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

h3{
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0.25em;
}

main li{
	list-style-type: disc;
	list-style-position: inside;
}

#our_offerings{
	border-bottom: solid var(--champagne-gold) 3px;
}

#pictures{
	display: grid;
}

#gallery img{
	width: 100%;
}

#pictures div{
	border-radius: 1em;
	overflow: hidden;
	text-align: center;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
	margin: 1em;

}

#pictures p{
	font-style: italic;
	padding: 0.5em;
}

button{
	background-color: var(--olive-green);
	color: var(--soft-white);
	margin: 0 auto 1em auto;
	display: block;
	border: none;
	width: 94%;
	font-size: 1.5em;
	padding: 0.5em;
	font-weight: bold;
	font-family: 'Playfair Display;';
	border-radius: 0.25em;
}

footer{
	background-color: var(--midnight_blue);
	padding: 1em;
	text-align: center;
	color: var(--soft-white);
	line-height: 1.5;
}
address{
	margin-top: 2em;
}

footer a{
	color: var(--champagne-gold);
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 3em;
}

footer p{
	color: var(--champagne-gold);
	font-weight: bold;
	margin-top: 2em;
}



/* MEDIA QUERY (medium) */
@media (min-width: 600px){
	#offerings{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	#monthly{
		grid-column: 1 / -1;
	}

	#pictures{
		grid-template-columns: 1fr 1fr;
	}
}

/* MEDIA QUERY (large) */

/* MEDIA QUERY (xl) */